*{
    padding : 0 px;
    margin : 0 px;
}
body{
    background-color: #e85d04;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    align-items: center;
}
.main{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap:3%;
    align-items: center;
    
    
}
.box{
    height:30%;
    width:30%;
    /* border:none; */
    border-radius: 15%;
    background-color: #6a040f;
    font-size: 50px;
    border: none;
}
.msg{
    font-size: 40px;
    color: #023047;
   
}
.hide{
    display: none;
}
.reset{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
    background-color: #6a040f;
    color: #03071e;
    border:none;
    border-radius: 5%;
}
.x{
    color:#ffba08;
}
.o{
    color:#e85d04;
}